<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="keywords" content="ytfinder, education, educationalvideos, e-education, yt, sri lanka, lk, gotagohome, economiccrisislk">
          <meta name="description" content="Find the perfect online educational video for learning online in Sri Lanka">
          <meta name="og:title" content="E-education search - Find your perfect online video for learning online in Sri Lanka">
          <meta name="og:description" content="Find the perfect online educational video for learning online in Sri Lanka">
          <meta name="og:site_name" content="E-education search">
          <meta name="og:image" content="https://res.cloudinary.com/viewscdn/image/upload/v1657111995/media/bfhebmhv3c5d5kotsp5h.png">
          <meta name="image" content="https://res.cloudinary.com/viewscdn/image/upload/v1657111995/media/bfhebmhv3c5d5kotsp5h.png">
          <meta name="og:theme-color" content="#343a4">
          <meta name="theme-color" content="#343a4">
          <meta name="main-color" content="#343a4">
        <link rel="shortcut icon" href="https://res.cloudinary.com/viewscdn/image/upload/v1657111995/media/bfhebmhv3c5d5kotsp5h.png" type="image/x-icon">
          <link rel="stylesheet" href="/css/style.css">
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<title>E-education search - Find the perfect online educational video for learning online in Sri Lanka</title>
      </head>


<body>
  <% if(msg) { %> 
    <div class="alert alert-danger" role="alert" >
 <%= msg%> 
    </div>
    <% }%>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">E-education</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
         
          
          
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="get">
          <select class="form-control mr-sm-2" name="grade" required>
            <option value="1">Grade - 1</option>
            <option value="2">Grade - 2</option>
            <option value="3">Grade - 3</option>
            <option value="4">Grade - 4</option>
            <option value="5">Grade - 5</option>
            <option value="6">Grade - 6</option>
            <option value="7">Grade - 7</option>
            <option value="8">Grade - 8</option>
            <option value="9">Grade - 9</option>
            <option value="10">Grade - 10</option>
            <option value="11">Grade - 11</option>
            <option value="12">Grade - 12</option>
            <option value="13">Grade - 13</option>
          </select>
          <input class="form-control mr-sm-2" type="search" placeholder="Enter a subject" aria-label="Search" name="query" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <br>
    <button style="margin-bottom: 1%;" class="btn btn-outline-success" data-toggle="modal" data-target="#createmodal"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>New educational video</button>    

    <div class="modal fade" id="createmodal" tabindex="-1" role="dialog"  aria-labelledby="createmodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New online educational video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form action="/" method="post" onsubmit="buffer(document.getElementById('submitter'))">
            <div class="form-group">
              <label for="subject">Subject *</label>
              <input class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <label for="grade">Grade *</label>
              <select class="form-control" name="grade" id="grade" required>
                <option value="1">Grade - 1</option>
                <option value="2">Grade - 2</option>
                <option value="3">Grade - 3</option>
                <option value="4">Grade - 4</option>
                <option value="5">Grade - 5</option>
                <option value="6">Grade - 6</option>
                <option value="7">Grade - 7</option>
                <option value="8">Grade - 8</option>
                <option value="9">Grade - 9</option>
                <option value="10">Grade - 10</option>
                <option value="11">Grade - 11</option>
                <option value="12">Grade - 12</option>
                <option value="13">Grade - 13</option>
              </select>
            </div>
            <div class="form-group">
              <label for="youtube">Youtube URL *</label>
              <input class="form-control" name="youtube" id="youtube" placeholder="Youtube URL" required>
            </div>
            <small>note: troll/spam ones will get deleted.</small>
          </div>
          <div class="modal-footer">
           
            <button type="submit" class="btn btn-success" id="submitter">Create Post</button>
          </form>
            
          </div>
        </div>
      </div>
    </div>
 
    <% if(data.length > 0) {%>

      <% data.forEach(d => {%>
    
        <div class="card" style="border-top: none; border-left: none;">
          <img class="img-fluid float-right" style="height: 150px; width: 200px;" src="https://img.youtube.com/vi/<%= d.youtube_id%>/0.jpg">
         
          <div class="card-body">
    
              
            <h5 class="card-title"><%= d.subject %> </h5>
            
            <h6 class="card-subtitle mb-2 text-muted">Grade: <%= d.grade%></h6>
        
            <p class="card-text">
              <%= d.youtube%>
            </p>
           
            <a href="/<%= d.ID%>" class="card-link">Watch Now</a>
            
          </div>
        </div>

        <%})%>
      <%} else {%>

        <h2 style="margin-top: 5%; color: white;">No Results :(</h2>
        <%}%>
        <br><br><br><br>
      </div>
 
<script src="/scripts/script.js"></script>

</body>   
</html>